*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
     font-family: "Poppins", sans-serif;
     letter-spacing: -0.04em;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

    html, body{
        background-color: #111111;
    }